[access]
	inheritFrom = chromium
[submit]
	action = inherit

[access "refs/for/refs/*"]
	forgeAuthor = group cria/project-openscreen-committers
	addPatchSet = group cria/project-openscreen-committers
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group cria/project-openscreen-committers
	submit = group cria/project-openscreen-committers
	abandon = group cria/project-openscreen-committers
